
<span class = "logo">THE END</span>
<div class="summary">
    <p>Zarezerwowałeś <%=data_seats%> miejsca</p>
    <p>Kino: <%=data_cinema.area%></p>
    <p>Film: <%=data_cinema.movie%></p>
    <p>Cena: <%=data_price%> PLN</p>
    <p class = "info">Wysłano potwierdzenie zamówienia na <%=data_email%>. Po odbiór biletów prosimy zgłosić się najpóżniej do 15 minut przed rozpoczęciem seansu.</p>    
</div>
<span class = "logo end"><a href="/">Stare kino</a><i class="fas fa-video small"></i></span>
<h4>Życzymy udanego seansu!</h4>


